## Loop and condition

#### for loop and while loop

In [2]:
L =['appple','grape','greetings','kerosene','mobile']
for item in L:
    print(item)

appple
grape
greetings
kerosene
mobile

Range

In [3]:
range(5),range(1,50),sum(range(50))

(range(0, 5), range(1, 50), 1225)

Iterating loop and adding the iterTing index to blank list

In [5]:
L = []
for k in range(10):
    L.append(5*k)   # multiple of 5
L

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

Double loop or nested for loop

###### Create a double loop with i and j with range 10 and also populate the dictionary with key as   (i,j) and    value as   10*i +j  when i=j and 100*i+j when i! =j

In [11]:
D ={}
for i in range(10):
    for j in range(10):
        if i == j:
            D.update({(i,j) : 10*i +j})
        elif i!= j:
            D.update({(i,j) : 100*i +j})
print(D)

{(0, 0): 0, (0, 1): 1, (0, 2): 2, (0, 3): 3, (0, 4): 4, (0, 5): 5, (0, 6): 6, (0, 7): 7, (0, 8): 8, (0, 9): 9, (1, 0): 100, (1, 1): 11, (1, 2): 102, (1, 3): 103, (1, 4): 104, (1, 5): 105, (1, 6): 106, (1, 7): 107, (1, 8): 108, (1, 9): 109, (2, 0): 200, (2, 1): 201, (2, 2): 22, (2, 3): 203, (2, 4): 204, (2, 5): 205, (2, 6): 206, (2, 7): 207, (2, 8): 208, (2, 9): 209, (3, 0): 300, (3, 1): 301, (3, 2): 302, (3, 3): 33, (3, 4): 304, (3, 5): 305, (3, 6): 306, (3, 7): 307, (3, 8): 308, (3, 9): 309, (4, 0): 400, (4, 1): 401, (4, 2): 402, (4, 3): 403, (4, 4): 44, (4, 5): 405, (4, 6): 406, (4, 7): 407, (4, 8): 408, (4, 9): 409, (5, 0): 500, (5, 1): 501, (5, 2): 502, (5, 3): 503, (5, 4): 504, (5, 5): 55, (5, 6): 506, (5, 7): 507, (5, 8): 508, (5, 9): 509, (6, 0): 600, (6, 1): 601, (6, 2): 602, (6, 3): 603, (6, 4): 604, (6, 5): 605, (6, 6): 66, (6, 7): 607, (6, 8): 608, (6, 9): 609, (7, 0): 700, (7, 1): 701, (7, 2): 702, (7, 3): 703, (7, 4): 704, (7, 5): 705, (7, 6): 706, (7, 7): 77, (7, 8): 708, (7, 9): 709, (8, 0): 800, (8, 1): 801, (8, 2): 802, (8, 3): 803, (8, 4): 804, (8, 5): 805, (8, 6): 806, (8, 7): 807, (8, 8): 88, (8, 9): 809, (9, 0): 900, (9, 1): 901, (9, 2): 902, (9, 3): 903, (9, 4): 904, (9, 5): 905, (9, 6): 906, (9, 7): 907, (9, 8): 908, (9, 9): 99}

To iterate two elements from two seperate Lists. It is not like nested for loop.

In [17]:
for item ,j,k in zip(['apple','banana','kite','cellophone','pencil'],\
                    range(5),[12,34,55,36,87]):
    print(item,"@",j,"@",k)

apple @ 0 @ 12
banana @ 1 @ 34
kite @ 2 @ 55
cellophone @ 3 @ 36
pencil @ 4 @ 87

To iterate and ennumerate both together

In [18]:
for i,item in enumerate(['pen','jug','copy','jellifish','blackhole']):
        print("The",i,"th element is: ",item)

The 0 th element is:  pen
The 1 th element is:  jug
The 2 th element is:  copy
The 3 th element is:  jellifish
The 4 th element is:  blackhole

To create a list with for loop

In [21]:
A = [35*k**2+12*k+1 for k in range(50)]
print(A)

[1, 48, 165, 352, 609, 936, 1333, 1800, 2337, 2944, 3621, 4368, 5185, 6072, 7029, 8056, 9153, 10320, 11557, 12864, 14241, 15688, 17205, 18792, 20449, 22176, 23973, 25840, 27777, 29784, 31861, 34008, 36225, 38512, 40869, 43296, 45793, 48360, 50997, 53704, 56481, 59328, 62245, 65232, 68289, 71416, 74613, 77880, 81217, 84624]

In [23]:
B = [[6*x**2+5*y+3 for x in range(5)]for y in range(5)]
print(B)

[[3, 9, 27, 57, 99], [8, 14, 32, 62, 104], [13, 19, 37, 67, 109], [18, 24, 42, 72, 114], [23, 29, 47, 77, 119]]

To iterate over list of list

In [25]:
for i in range(5):
    for j in range(5):
        print("The","(",i,",",j,")","th element is:",B[i][j])

The ( 0 , 0 ) th element is: 3
The ( 0 , 1 ) th element is: 9
The ( 0 , 2 ) th element is: 27
The ( 0 , 3 ) th element is: 57
The ( 0 , 4 ) th element is: 99
The ( 1 , 0 ) th element is: 8
The ( 1 , 1 ) th element is: 14
The ( 1 , 2 ) th element is: 32
The ( 1 , 3 ) th element is: 62
The ( 1 , 4 ) th element is: 104
The ( 2 , 0 ) th element is: 13
The ( 2 , 1 ) th element is: 19
The ( 2 , 2 ) th element is: 37
The ( 2 , 3 ) th element is: 67
The ( 2 , 4 ) th element is: 109
The ( 3 , 0 ) th element is: 18
The ( 3 , 1 ) th element is: 24
The ( 3 , 2 ) th element is: 42
The ( 3 , 3 ) th element is: 72
The ( 3 , 4 ) th element is: 114
The ( 4 , 0 ) th element is: 23
The ( 4 , 1 ) th element is: 29
The ( 4 , 2 ) th element is: 47
The ( 4 , 3 ) th element is: 77
The ( 4 , 4 ) th element is: 119

### While loop

In [28]:
i=0
while i<7:
    print(i,"th turn")
    i=i+1

0 th turn
1 th turn
2 th turn
3 th turn
4 th turn
5 th turn
6 th turn

To break for loop implementing if condition

In [34]:
for i in range(10):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

Testing of if conditions

In [42]:
import random as random

for i in range(10):
    r = random.uniform(1,10)
    if r<2 and r>0:
        print("It is samaller than 2 and greater than 1","|", r)
    elif r<4 and r>2:
        print("It is samaller than 4 and greater than 2","|", r)
    elif r<6 and r>4:
        print("It is samaller than 6 and greater than 4","|", r)
    elif r<8 and r>6:
        print("It is samaller than 8 and greater than 6","|", r)
    elif r<10 and r>8:
        print("It is samaller than 10 and greater than 8","|", r)

It is samaller than 10 and greater than 8 | 9.21353142548701
It is samaller than 4 and greater than 2 | 3.119522976635087
It is samaller than 10 and greater than 8 | 8.529245718856446
It is samaller than 8 and greater than 6 | 7.413678937444872
It is samaller than 4 and greater than 2 | 2.129081832809499
It is samaller than 2 and greater than 1 | 1.1633163708194947
It is samaller than 10 and greater than 8 | 9.894697956002473
It is samaller than 4 and greater than 2 | 2.8233564849835977
It is samaller than 6 and greater than 4 | 4.8628386972974855
It is samaller than 10 and greater than 8 | 8.983085709132204

In [43]:
import random as random

for i in range(5):
    r = random.uniform(1,10)
    if r<2 and r>0:
        print("It is samaller than 2 and greater than 1","|", r)
    elif r<4 and r>2:
        print("It is samaller than 4 and greater than 2","|", r)
    elif r<6 and r>4:
        print("It is samaller than 6 and greater than 4","|", r)
    elif r<8 and r>6:
        print("It is samaller than 8 and greater than 6","|", r)
    elif r<10 and r>8:
        print("It is samaller than 10 and greater than 8","|", r)

It is samaller than 8 and greater than 6 | 7.116042632472333
It is samaller than 6 and greater than 4 | 5.156094055740668
It is samaller than 10 and greater than 8 | 8.060293401216352
It is samaller than 4 and greater than 2 | 2.400097931646923
It is samaller than 10 and greater than 8 | 9.317430186775614

In [44]:
import random as random

for i in range(10):
    r = random.uniform(4,10)
    if r<2 and r>0:
        print("It is samaller than 2 and greater than 1","|", r)
    elif r<4 and r>2:
        print("It is samaller than 4 and greater than 2","|", r)
    elif r<6 and r>4:
        print("It is samaller than 6 and greater than 4","|", r)
    elif r<8 and r>6:
        print("It is samaller than 8 and greater than 6","|", r)
    elif r<10 and r>8:
        print("It is samaller than 10 and greater than 8","|", r)

It is samaller than 6 and greater than 4 | 4.956695200877877
It is samaller than 6 and greater than 4 | 4.772395956806793
It is samaller than 8 and greater than 6 | 6.122171687918092
It is samaller than 10 and greater than 8 | 9.545200432090455
It is samaller than 8 and greater than 6 | 7.97811315274013
It is samaller than 6 and greater than 4 | 4.060186758165481
It is samaller than 8 and greater than 6 | 7.8111012819566
It is samaller than 6 and greater than 4 | 4.330841020331907
It is samaller than 10 and greater than 8 | 8.03203613064867
It is samaller than 10 and greater than 8 | 9.55622724319506

To find the sum from 0 to 1000

In [53]:
s=0
for i in range(1000+1):
    s=s+i
s

500500

To find sum from 0 to 1000(only even)

In [58]:
s=0
se=[]
for i in range(1001):
    if i%2==0:
        se.append(i)
sum(se)

250500

To find the sum from 0 to 1000(only odd)

In [61]:
s=0
so=[]
for i in range(1001):
    if i%2==1:
        so.append(i)
sum(so)

250000